<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <div class="modal-burger-menu ">
        <img src="../images/icon-close-modal.svg" alt="close-modal" id="close-modal-burger">

        <div class="burger-box">
            <ul class="burger-link-menu">
                <li class="animated-link burger-menu-link"><a href="#aboutUs">О бренде</a></li>
                <li class="animated-link burger-menu-link"><a href="#catalog">Каталог</a></li>
                <li class="animated-link burger-menu-link"><a href="#subscribe">Подписка</a></li>
                <li class="animated-link burger-menu-link"><a href="#reviews">Отзывы</a></li>
                <li class="animated-link burger-menu-link"><a href="#contacts">Контакты</a></li>
            </ul>
            <ul class="burger-social-media">
                <li><a href="https://www.instagram.com"><img src="../images/icon-instagram.svg" alt="instagram"></a>
                </li>
                <li><a href="https://ok.ru/"><img src="../images/icon-ok.svg" alt="ok"></a></li>
                <li><a href="https://vk.com/"><img src="../images/icon-vk.svg" alt="vk"></a></li>
            </ul>
        </div>
    </div>

    <header>
        <div class="nav-container">
            <nav>
                <ul class="nav-menu">
                    <li class="animated-link"><a href="#aboutUs">О бренде</a></li>
                    <li class="animated-link"><a href="#catalog">Каталог</a></li>
                    <li class="animated-link"><a href="#subscribe">Подписка</a></li>
                    <li class="animated-link"><a href="#reviews">Отзывы</a></li>
                    <li class="animated-link"><a href="#contacts">Контакты</a></li>
                </ul>
                <a href="#" class="logo"><img src="../images/logo.svg" alt="logo"></a>
                <div class="burger-menu"><img src="../images/icon-burger-menu.svg" alt="menu"></div>
                <div class="header__nav-box">
                    <ul class="social-media">
                        <li><a href="https://www.instagram.com"><img src="../images/icon-instagram.svg"
                                    alt="instagram"></a></li>
                        <li><a href="https://ok.ru/"><img src="../images/icon-ok.svg" alt="ok"></a></li>
                        <li><a href="https://vk.com/"><img src="../images/icon-vk.svg" alt="vk"></a></li>
                    </ul>
                    <div class="header-functions">
                        <div class="function-question">
                            <a href="#questions"><img src="../images/icon-question.svg" alt="question"></a>
                        </div>
                        <div class="function-cart">
                            <a href="../cart.html">
                                <img src="../images/icon-cart.svg" alt="cart">
                                <div id="cart-count-products" class="count-products"><span>0</span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>


        <div class="header-content">
            <div class="header-content-text">
                <p class="text-gray">Хит продаж 2025</p>
                <div class="header-content-text-name">
                    <h1>Air Jordan 4 'Winterized' Release Date. Nike SNKRS</h1>
                    <div class="header-stars">
                        <div>
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-transparent.svg" alt="star">
                        </div>
                        <p class="header-reviews"><a href="#questions">6 отзывов</a></p>
                    </div>
                </div>
                <p class="header-p">Air Jordan 4 'Winterized' — утеплённая версия классики с премиум-материалами и
                    защитой от влаги.
                    Идеальны для зимнего стиля и комфорта.</p>
                <div class="header-desc">
                    <div class="header-size">
                        <h6>Размер</h6>
                        <div class="header-size-variables">
                            <div class="header-size-variable disabled">
                                <p>37</p>
                            </div>
                            <div class="header-size-variable">
                                <p>38</p>
                            </div>
                            <div class="header-size-variable filled">
                                <p>39</p>
                            </div>
                            <div class="header-size-variable">
                                <p>40</p>
                            </div>
                            <div class="header-size-variable">
                                <p>41</p>
                            </div>
                        </div>
                    </div>
                    <div class="header-color">
                        <h6>Цвет</h6>
                        <div class="header-color-variables">
                            <div class="header-color-variable red checked"></div>
                            <div class="header-color-variable green"></div>
                            <div class="header-color-variable blue"></div>
                            <div class="header-color-variable gray"></div>
                        </div>
                    </div>
                </div>
                <div class="header-products">
                    <div class="header-product" onclick="toggleImg('../images/header-banner2.png')"><img
                            src="../images/header-banner1-card1.png" alt="nike"></div>
                    <div class="header-product" onclick="toggleImg('../images/header-banner3.png')"><img
                            src="../images/header-banner1-card2.png" alt="nike"></div>
                    <div class="header-product" onclick="toggleImg('../images/header-banner4.png')"><img
                            src="../images/header-banner1-card3.png" alt="nike"></div>
                </div>
                <h2>52 499 ₽</h2>
                <a href="#" class="btn1" id="buy-nike-winterized">КУПИТЬ</a>
            </div>
            <div class="header-content-img">
                <div class="header-banner">
                    <img class="mainImg" src="../images/header-banner1.png" alt="banner">
                </div>
            </div>
        </div>
        <div class="header-toggle">
            <img class="move-toggle-slider" src="../images/icon-arrow-rounded.svg" alt="arrow">
        </div>
    </header>

    <div class="buy-box">
        <div class="text">
            <p>Выбрано <span id="buy-box-count">2</span> товара(-ов)</p>
            <h5>К отплате <span id="buy-box-cost">12 998</span> ₽ </h5>
        </div>
        <a href="../cart.html" class="btn1">Оформить заказ</a>
    </div>

    <div class="scroll-container">
        <div class="scroll-down">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>


    <main>
        <section class="about" id="aboutUs">
            <h2>О наших кроссовках</h2>
            <p>Это не просто кроссы — это заявка на стиль. Мы не гоняемся за трендами, мы их задаём. Только оригинал,
                только свежак. Nike, Jordan, New Balance — в твоём гардеробе, не на витрине. Мягкая посадка, жёсткий
                вайб. Надень — и почувствуй, кто здесь главный.</p>

            <div class="about-cards">
                <div class="card">
                    <div class="card-count">01</div>
                    <p>Закупаем высококачественные материалы</p>
                </div>
                <div class="card">
                    <div class="card-count">02</div>
                    <p>Доставляем сырьё на завод</p>
                </div>
                <div class="card">
                    <div class="card-count">03</div>
                    <p>Запускаем производство на современном оборудовании</p>
                </div>
                <div class="card">
                    <div class="card-count">04</div>
                    <p>Собираем и обрабатываем каждую пару вручную</p>
                </div>
                <div class="card">
                    <div class="card-count">05</div>
                    <p>Проводим финальный контроль качества</p>
                </div>
                <div class="card">
                    <div class="card-count">06</div>
                    <p>Упаковываем продукцию по стандартам бренда</p>
                </div>
                <div class="card">
                    <div class="card-count">07</div>
                    <p>Отправляем кроссовки на склад</p>
                </div>
                <div class="card">
                    <div class="card-count">08</div>
                    <p>Оформляем и доставляем заказы клиентам</p>
                </div>
            </div>
        </section>

        <hr class="split-section">

        <section class="collection" id="catalog">
            <h2>Новая коллекция кроссовок</h2>
            <p>Новая коллекция кроссовок: стиль, комфорт, инновации, премиальные материалы, модные оттенки, легкость,
                уникальный дизайн, тренд сезона, спортивная элегантность.</p>
            <div class="collection-box">
                <div class="collection-box-arrows">
                    <div class="collection-box-arrows-left"><img src="../images/icon-arrow-line.svg" alt="arrow"></div>
                    <div class="collection-box-arrows-right"><img src="../images/icon-arrow-line-right.svg" alt="arrow">
                    </div>
                </div>
                <div class="collection-box-slider">
                    <div class="collection-box-slider-track">
                        <div class="slide">
                            <div class="slide-image-wrapper">
                                <img src="../images/product1.jpg" alt="slide">
                                <div class="add-to-cart-circle">
                                    <p>+</p>
                                </div>
                            </div>
                            <h6>Кроссовки Nike ACG Air Terra Antarktik Low</h6>
                            <div class="slide-cost">
                                <h5>5 999 ₽</h5>
                                <h6>11 399 ₽</h6>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-image-wrapper">
                                <img src="../images/product2.jpg" alt="slide">
                                <div class="add-to-cart-circle">
                                    <p>+</p>
                                </div>
                            </div>
                            <h6>Кроссовки Nike Roshe Run</h6>
                            <div class="slide-cost">
                                <h5>4 999 ₽</h5>
                                <h6>7 399 ₽</h6>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-image-wrapper">
                                <img src="../images/product3.jpg" alt="slide">
                                <div class="add-to-cart-circle">
                                    <p>+</p>
                                </div>
                            </div>
                            <h6>Кроссовки Nike Air More Uptempo Low</h6>
                            <div class="slide-cost">
                                <h5>6 999 ₽</h5>
                                <h6>9 399 ₽</h6>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-image-wrapper">
                                <img src="../images/product4.jpg" alt="slide">
                                <div class="add-to-cart-circle">
                                    <p>+</p>
                                </div>
                            </div>
                            <h6>Кроссовки Nike Air Max Plus TN</h6>
                            <div class="slide-cost">
                                <h5>4 999 ₽</h5>
                                <h6>6 399 ₽</h6>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-image-wrapper">
                                <img src="../images/product5.jpg" alt="slide">
                                <div class="add-to-cart-circle">
                                    <p>+</p>
                                </div>
                            </div>
                            <h6>Кроссовки Nike</h6>
                            <div class="slide-cost">
                                <h5>3 999 ₽</h5>
                                <h6>5 399 ₽</h6>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-image-wrapper">
                                <img src="../images/product6.jpg" alt="slide">
                                <div class="add-to-cart-circle">
                                    <p>+</p>
                                </div>
                            </div>
                            <h6>Кроссовки Nike Air Max Plus Drift</h6>
                            <div class="slide-cost">
                                <h5>5 999 ₽</h5>
                                <h6>9 399 ₽</h6>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-image-wrapper">
                                <img src="../images/product7.jpg" alt="slide">
                                <div class="add-to-cart-circle">
                                    <p>+</p>
                                </div>
                            </div>
                            <h6>Кроссовки Nike Air Max Plus Drift</h6>
                            <div class="slide-cost">
                                <h5>8 999 ₽</h5>
                                <h6>11 399 ₽</h6>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-image-wrapper">
                                <img src="../images/product8.jpg" alt="slide">
                                <div class="add-to-cart-circle">
                                    <p>+</p>
                                </div>
                            </div>
                            <h6>Кроссовки Nike Air Max Plus Drift</h6>
                            <div class="slide-cost">
                                <h5>5 999 ₽</h5>
                                <h6>11 399 ₽</h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <hr class="split-section">

        <section class="sub" id="subscribe">
            <h2>Подпишись и вдохновляйся</h2>
            <p>Будь в курсе новых коллекций, скидок и эксклюзивных предложений. Подпишись на рассылку и получай только
                самые свежие новости о кроссовках первым!</p>
            <form onsubmit="formHandle()">
                <input required type="text" placeholder="Введите имя">
                <input required type="email" placeholder="Введите e-mail">
                <div class="checkbox">
                    <input required type="checkbox">
                    <p>Я согласен на обработку своих персональных данных</p>
                </div>
                <button type="submit" class="btn1">ПОДПИСАТЬСЯ</button>
            </form>
            <div class="basketball-circle">
                <img src="../images/basketball-circle.png" alt="basketball">
            </div>
            <div class="michel-jordan">
                <img src="../images/michel-jordan.png" alt="jordan">
            </div>
        </section>

        <hr class="split-section">

        <section class="reviews" id="reviews">
            <h2>Отзывы наших покупателей</h2>
            <div class="reviews-list">
                <div class="review">
                    <div class="review-user">
                        <div class="user-photo">
                            <img src="../images/icon-user.svg" alt="user">
                            <h6>Олег К.</h6>
                        </div>
                        <div class="stars">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-transparent.svg" alt="star">
                        </div>
                    </div>
                    <p class="reviews-desc">Товар: Кроссовки Nike Roshe Run, Цвет: чёрный </p>
                    <p>Качество на высоте, носил в дождь — ноги сухие.</p>
                    <img src="../images/review1.jpg" alt="photo">
                </div>
                <div class="review">
                    <div class="review-user">
                        <div class="user-photo">
                            <img src="../images/icon-user.svg" alt="user">
                            <h6>Иван А.</h6>
                        </div>
                        <div class="stars">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-transparent.svg" alt="star">
                        </div>
                    </div>
                    <p class="reviews-desc">Товар: Кроссовки Nike Roshe Run, Цвет: чёрный </p>
                    <p>Качество на высоте, носил в дождь — ноги сухие.</p>
                    <img src="../images/review2.jpg" alt="photo">
                </div>
                <div class="review">
                    <div class="review-user">
                        <div class="user-photo">
                            <img src="../images/icon-user.svg" alt="user">
                            <h6>Катя О.</h6>
                        </div>
                        <div class="stars">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-transparent.svg" alt="star">
                        </div>
                    </div>
                    <p class="reviews-desc">Товар: Кроссовки Nike Roshe Run, Цвет: чёрный </p>
                    <p>Быстрая доставка, идеально подошёл размер.</p>
                    <img src="../images/review3.jpg" alt="photo">
                </div>
                <div class="review">
                    <div class="review-user">
                        <div class="user-photo">
                            <img src="../images/icon-user.svg" alt="user">
                            <h6>Sam D.</h6>
                        </div>
                        <div class="stars">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-transparent.svg" alt="star">
                        </div>
                    </div>
                    <p class="reviews-desc">Товар: Кроссовки Nike Roshe Run, Цвет: чёрный </p>
                    <p>Хожу в них в зал — отличная фиксация стопы.</p>
                    <img src="../images/review4.jpg" alt="photo">
                </div>
                <div class="review">
                    <div class="review-user">
                        <div class="user-photo">
                            <img src="../images/icon-user.svg" alt="user">
                            <h6>Frank B.</h6>
                        </div>
                        <div class="stars">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-transparent.svg" alt="star">
                        </div>
                    </div>
                    <p class="reviews-desc">Товар: Кроссовки Nike Roshe Run, Цвет: чёрный </p>
                    <p>Сели как влитые, мягкая подошва — кайф.</p>
                    <img src="../images/review5.jpg" alt="photo">
                </div>
                <div class="review">
                    <div class="review-user">
                        <div class="user-photo">
                            <img src="../images/icon-user.svg" alt="user">
                            <h6>Михаил И.</h6>
                        </div>
                        <div class="stars">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-fill.svg" alt="star">
                            <img src="../images/icon-star-transparent.svg" alt="star">
                        </div>
                    </div>
                    <p class="reviews-desc">Товар: Кроссовки Nike Roshe Run, Цвет: чёрный </p>
                    <p>Отличный вариант за свою цену.</p>
                    <img src="../images/review6.jpg" alt="photo">
                </div>
            </div>
        </section>

        <hr class="split-section">

        <section class="answers" id="questions">
            <h2>Ответы на ваши вопросы</h2>
            <div class="answers-list">
                <details>
                    <summary>Как выбрать правильный размер кроссовок?</summary>
                    <p>Мы рекомендуем измерить стопу и сравнить с нашей таблицей размеров, представленной на сайте.
                        Также
                        можно обратиться к нам за помощью в подборе.</p>
                </details>
                <details>
                    <summary>Можно ли вернуть или обменять товар, если не подошёл?</summary>
                    <p>Да, вы можете вернуть или обменять кроссовки в течение 14 дней при сохранении товарного вида и
                        упаковки.</p>
                </details>
                <details>
                    <summary>Сколько времени занимает доставка?</summary>
                    <p>В среднем доставка занимает от 2 до 7 рабочих дней в зависимости от вашего региона.</p>
                </details>
                <details>
                    <summary>Есть ли доставка по всей России (или другой стране)?</summary>
                    <p>Да, мы доставляем заказы по всей стране и сотрудничаем с надёжными курьерскими службами.</p>
                </details>
                <details>
                    <summary>Как проверить подлинность ваших кроссовок?</summary>
                    <p>Мы работаем только с официальными поставщиками. Каждый товар проходит проверку качества перед
                        отправкой.</p>
                </details>
                <details>
                    <summary>Какие способы оплаты доступны?</summary>
                    <p>Мы принимаем оплату банковскими картами, через электронные кошельки и наличными при получении.
                    </p>
                </details>
                <details>
                    <summary>Что делать, если товар пришёл с браком?</summary>
                    <p>Обратитесь в нашу службу поддержки, приложив фото дефекта. Мы предложим обмен или возврат.</p>
                </details>
                <details>
                    <summary>Как ухаживать за кроссовками, чтобы они дольше служили?</summary>
                    <p>Рекомендуем чистить кроссовки вручную, избегать машинной стирки и использовать специальные
                        средства
                        по уходу.</p>
                </details>
                <details>
                    <summary>Могу ли я отменить заказ после оформления?</summary>
                    <p>Да, вы можете отменить заказ до его отправки. Для этого свяжитесь с нами как можно скорее.</p>
                </details>
                <details>
                    <summary>Есть ли скидки при покупке нескольких пар?</summary>
                    <p>Да, мы предлагаем скидки при покупке от двух пар и больше — условия указаны на странице акций.
                    </p>
                </details>
            </div>
        </section>
    </main>

    <footer id="contacts">
        <div class="footer-container">
            <div class="footer-nav">
                <h3>Навигация по сайту</h3>
                <ul class="footer-nav-menu">
                    <li><a href="#top">Главная</a></li>
                    <li><a href="#aboutUs">О бренде</a></li>
                    <li><a href="#catalog">Каталог</a></li>
                    <li><a href="#subscribe">Подписка</a></li>
                    <li><a href="#reviews">Отзывы</a></li>
                    <li><a href="#questions">Помощь</a></li>
                    <li><a href="../cart.html">Корзина</a></li>
                </ul>
            </div>
            <div class="footer-contacts-menu">
                <h3>Контакты</h3>
                <div class="footer-contact">
                    <img src="../images/icon-tel.svg" alt="tel">
                    <a href="tel:78008227722">7 (800) 822-77-22</a>
                </div>
                <div class="footer-contact">
                    <img src="../images/icon-time.svg" alt="time">
                    <p>Работаем с 7:00 до 22:00</p>
                </div>
                <div class="footer-contact">
                    <img src="../images/icon-email.svg" alt="email">
                    <a href="mailto:shop-nike@gmail.com">shop-nike@gmail.com</a>
                </div>
            </div>
            <div class="footer-about">
                <h3>НИКА</h3>
                <p>НИКА — мировой лидер в области спортивной обуви, одежды и аксессуаров. Мы вдохновляем спортсменов по
                    всему миру достигать большего с помощью инновационных технологий и современного дизайна. Nike
                    сочетает стиль, комфорт и качество, чтобы вы чувствовали уверенность в каждом движении — на
                    тренировке и в повседневной жизни.</p>
                <ul class="footer-social-media">
                    <li><a href="https://www.instagram.com"><img src="../images/icon-instagram.svg" alt="instagram"></a>
                    </li>
                    <li><a href="https://ok.ru/"><img src="../images/icon-ok.svg" alt="ok"></a></li>
                    <li><a href="https://vk.com/"><img src="../images/icon-vk.svg" alt="vk"></a></li>
                </ul>
            </div>
        </div>
        <p class="footer-copyright">© 2025 Все права защищены</p>
    </footer>

    <script src="js/main.min.js"></script>
</body>

</html>